<footer class="footer-section" id="About-us">
    <div class="container-fluid">

      <p>
       <em>In hour of need, always here to help you.</em>  <br>
        We are <strong>CodeChamps</strong>

      </p>



      <p>© CodeChamps MNNIT</p>
            <h6 id="last-heading" >Contact us :- </h6>
      <p>priyanshuraj6649@gmail.com<br>
      ashishkv.2016@gmail.com<br>
      rai.megha1302@gmail.com</p>
      <form action="#">
        <p>Please give the valuable suggestions :-</p>
        <input type="text" name="suggestions" placeholder="suggestions" >
        <label for="suggestions">Suggestions :</label>
        <button type="submit" name="submit" id="sundar">Submit Now</button>
      </form>

    </div>
  </footer>
