<footer class="footer-section" id="About-us">
    <div class="container-fluid">

      <p>
       <em>In hour of need, always here to help you.</em>  <br>
        We are <strong>CodeChamps</strong>

      </p>



      <p>© CodeChamps MNNIT</p>

    </div>
  </footer>