<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thankyou again !</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #ffab73;
            color: black;
        }
        h1{
          font-family: 'Indie Flower', cursive;
        }
        .button1 {
                    height: 40px;
                    width: 90px;
                    background-color: white;
                    color: black;
                    border: 2px solid #555555;
                    border-radius: 30%;
                    margin: 20px;
                    }
    
                .button1:hover {
                    background-color: #555555;
                    color: white;
                    cursor: pointer;
                }
    </style>
    </head>
    <body>
        <h1 style="text-align: center">You are already a volunteer. Thankyou again..</h1>
        <a href="/"><button class="button1">Home</button></a>
<body>
    
</body>
</html>