<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=KoHo:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./RegStyle.css">	</head>
	<body>
		<h1 class="heading">Login</h1>
		<form id="reg-form">
			<fieldset class="field">Fill your credentials here..<br>
			<input type="text" autocomplete="on" id="email" name="email" placeholder="email" /><br>
			<div class="email error"></div>
			<input type="password" autocomplete="on" id="password" name="password" placeholder="Password" /><br>
			<div class="password error"></div>
			<button>Login</button>
		</fieldset>
		</form>
		 <button class="RedirectBtn"><a href="/register">Not registered yet?</a></button>

		 <script>
			 const form=document.querySelector('form')
			 const emailError= document.querySelector('.email.error')
			 const passwordError= document.querySelector('.password.error')
			 form.addEventListener('submit',async (e)=>{
				e.preventDefault();
				 emailError.textContent=""
				 passwordError.textContent=""
				 const email=form.email.value
				 const password=form.password.value
				 try{
					const res=await fetch('/login',{
						method:'POST',
						body: JSON.stringify({email , password}),
						headers:{'Content-Type':'application/json'}
					})
					const data=await res.json();
					console.log(data)
					if(data.errors){
						emailError.textContent=data.errors.email
						passwordError.textContent=data.errors.password
					}
					if(data.user){
						location.assign('/')
					}
				 }
				 catch(err){
					 console.log(err)
				 }
			 })
		 </script>
	</body>
</html>
