<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Donations</title>
    <style>
        body{
            background-color: rgb(54, 94, 46);
            color: rgb(243, 243, 234);
        }
        #table{
            width: 100%;
            border-collapse: collapse;
            margin: 4px;
        }
        td, th{
            border: 2px solid rgb(243, 238, 238);
            flex: auto;
            text-align: center;
        }
        td a{
            text-decoration:none;
            color: rgb(172, 172, 236);
        }
    </style>
</head>
<body>
    <a href="/"><button>home</button></a><br>
    <a href="/donar"><button>New donation</button></a>
    <h1 style="text-align: center">My donations</h1>
    <table id="table">
        <tr>
            <th>Items donated</th>
            <th>Donation time</th>
            <th>Taken by somebody?</th>
        </tr>

    <%mydonations.forEach(donation=>{%>
        <tr>
        <td><%=donation.what%></td>
        <td><%=donation.updatedAt%></td>
        <td><a href="/donar/remove/<%=donation.id%>">Remove</a></td>
        </tr>
    <%})%>
</table>

<cite id="warning">*Donate as much as you can.<br> Let's make a good use of this site.</cite>

    </body>
</html>