<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Needs</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #fafcc2;
                color: black;
            }
            .button1 {
                height: 40px;
                width: 90px;
                background-color: white;
                color: black;
                border: 2px solid #555555;
                border-radius: 30%;
                margin: 20px;
                }

            .button1:hover {
                background-color: #555555;
                color: white;
                cursor: pointer;
            }
            .button2 {
                height: 40px;
                width: 90px;
                background-color: white; 
                color: black; 
                border: 2px solid #008CBA;
                border-radius: 40%;
                margin: 20px;
                }

            .button2:hover {
                background-color: #008CBA;
                color: white;
                cursor: pointer;
                }
            h1{
                text-align: center;
                font-family: 'Indie Flower', cursive;
            }
            #table{
                width: 100%;
                border-collapse: collapse;
                margin: 4px;
            }
            td, th{
                border: 2px solid #350b40;
                font-family: 'Patrick Hand', cursive;
                flex: auto;
                text-align: center;
            }
        </style>
</head>
<body>
    <div class="new"><a href="/"><button class="button1">home</button></a>
    <a href="/needy"><button class="button2">need more</button></a>
    </div>
    <h1 >My needs..</h1>
    <table id="table">
        <tr>
            <th>Requirements</th>
            <th>Demand time</th>
            <th>You got it?</th>
        </tr>

    <%needs.forEach(need=>{%>
        <tr>
        <td><%=need.what%></td>               
        <td><%=need.updatedAt%></td>
        <td><a href="/needy/remove/<%=need._id%>">Remove</a></td>
        </tr>
    <%})%>
</table>
<cite id="warning">*Don't demand anything unneccesarily.<br> Let's make a good use of this site.</cite>
    </body>
</html>